---
layout: base
title: Heal The News
---

<section>
  <div class="content">
<h1>Heal The News</h1>

{% for org in orgs %}
<li>
{% assign u = org.slug | slug %}
<a href="{{ u | prepend: '/' | url }}">
  {{ org.Info.Newsroom  }}
</a>
</li>
{% endfor %}

</div>

</section>
